body{
  background:purple
}
h1,h3,li{
 color:red
}
#div1{
 background-color:yellow
}
img{
 height:600px;
 width:100%
}
.div3{
 padding:10px;
 margin-top: -10px;
 width:500px;
 height:250px;
 background-color:yellow
}
 
